<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="script/vue.js"></script>-->
    <!--    <script src="script/axios.min.js"></script>-->
    <script>
        window.onload = function () {
            var vue = new Vue({
                "el": "#div0",
                data: {
                    uname: "tom",
                    pwd: "123"
                },
                methods: {
                    axios01: function () {
                        axios({
                            method: "POST",
                            url: "axios01.do",
                            params: {
                                uname: vue.uname,
                                pwd: vue.pwd
                            }
                        })
                            .then(function (value) {
                                console.log(value)
                            })
                            .catch(function (reason) {
                            });
                    },
                    axios02: function () {
                        axios({
                            method: "POST",
                            url: "axios02.do",
                            data: {
                                uname: vue.uname,
                                pwd: vue.pwd
                            }
                        })
                            .then(function (value) {
                                var data = value.data;
                                console.log(data);
                                console.log(data.uname)
                            })
                            .catch(function (reason) {
                            });
                    }
                }
            });
        }
    </script>
</head>
<body>

<div id="div0">
    <span id="span"></span><br/>
    uname:<input type="text" v-model="uname"/><br/>
    pwd:<input type="text" v-model="pwd"/><br/>
    <input type="button" value="发送异步请求" @click="axios01"/>
    <input type="button" value="发送json异步请求" @click="axios02"/>
</div>
</body>
</html>